.d-flex{
    display: flex;
}

nav{
    width: 1774px;
    margin: 0 auto;
    padding: 26px 0;
    justify-content: space-between;
}

.navi{
    gap: 0 48px;
}

.navi a{
    text-decoration: none;
    color: #000;
}

.icon ul{
    gap: 0 18px;
}

.none{
    display: none;
}

img{
    width: 100%;
}

.content-textTitle{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.content-textTitle>h2{
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
}

.slider{
    width: 100%;
    overflow: hidden;
}

.slide-center{
    width: 250px !important;
    padding: 0 15px;
}

.d-flex{
    display: flex;
}

.gap{
    gap: 0 15px;
}

.w-1316{
    width: 1316px;
    margin: 0 auto;
}

.column-4{
    width: 30%;
}

@media(max-width: 1773px){
    nav{
        width: 100%;
        padding: 26px 20px;
    }
    .w-1316{
        width: 100%;
        margin: 0;
    }
}

@media(max-width: 1280px){
    .icon{
        display: none;
    }
    .navi{
        gap: 0 11px;
    }
    nav{
        justify-content: center;
        padding: 24px 0;
        gap: 0 132px;
    }
    /* .logo{
        margin-right: 132px;
    } */

    .logo h1{
        font-size: 18px;
        font-weight: 700;
    }

    .navi a{
        font-size: 18px;
        font-weight: 600;
    }

    .navi a{
        gap: 30px;
    }
}

@media (max-width: 768px){
    .f-d-c{
        flex-direction: column;
        padding: 0 10px;
    }

    .gap{
        gap: 10px 0;
    }
    .column-4{
        width: 100%;
    }
    .icon{
        display: block;
    }
    .navi{
        display: none;
    }

    .exist{
        display: none;
    }

    .icon .none{
        display: block;
    }

    nav{
        width: 80%;
        /* margin: 0 auto; */
        justify-content: space-between;
        padding: 24px 0;
    }


}

@media(max-width: 560px){
    .icon{
        display: block;
    }
    .navi{
        display: none;
    }

    .exist{
        display: none;
    }

    .icon .none{
        display: block;
    }

    nav{
        width: 80%;
        /* margin: 0 auto; */
        justify-content: space-between;
        padding: 24px 0;
    }

}
